= form_for @hotkey, html: { class: "form-horizontal", role: "form" } do |f|
  -if @hotkey.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@hotkey.errors.count, "error")} prohibited this hotkey from being saved:"

      %ul
        - @hotkey.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :key, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :key, class: 'form-control'
  .form-group
    = f.label :command, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :command, class: 'form-control'
  .form-group
    = f.label :location, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :location, class: 'form-control'
  .form-group
    = f.label :executes, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :executes, class: 'form-control'
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :hotkey_type, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :hotkey_type, class: 'form-control'
  .form-group
    = f.label :parent, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :parent, class: 'form-control'
  .form-group
    = f.label :operating_system, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :operating_system, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
