.page-header
  = link_to hotkeys_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_hotkey_path(@hotkey), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show hotkey

%dl.dl-horizontal
  %dt Key:
  %dd= @hotkey.key
  %dt Command:
  %dd= @hotkey.command
  %dt Location:
  %dd= @hotkey.location&.name
  %dt Executes:
  %dd
    = check_box @hotkey, :executes
    = link_to 'execute', exec_hotkey_path(@hotkey), remote: true
  %dt Name:
  %dd= @hotkey.name
  %dt Hotkey type:
  %dd= @hotkey.hotkey_type&.name
  %dt Parent:
  %dd= @hotkey.parent&.name
  %dt Operating system:
  %dd= @hotkey.operating_system&.name
  %dt Children:
  %dd
    - @hotkey.children.each do |child|
      .row
        = link_to child.display_name, child

