= form_for @history, html: { class: "form-horizontal", role: "form" } do |f|
  -if @history.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@history.errors.count, "error")} prohibited this history from being saved:"

      %ul
        - @history.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :command, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :command, class: 'form-control'
  .form-group
    = f.label :location, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :location, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
